<%= form_with(model: hero) do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipient_email %>
    <%= form.text_field :recipient_email %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :badge_template_id %>
    <%= form.collection_select :badge_template_id, BadgeTemplate.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :issued_at %>
    <%= form.text_field :issued_at, :value => DateTime.now  %>
  </div>

  <div class="field">
    <%= form.label :issuer_earner_id %>
    <%= form.text_field :issuer_earner_id %>
  </div>

  <div class="field">
    <%= form.label :locale %>
    <%= form.select :locale, language_array, prompt: 'Select' %>
  </div>

  <div class="field">
    <%= form.label :suppress_badge_notification_email %>
    <%= form.check_box :suppress_badge_notification_email %>
  </div>

  <div class="field">
    <%= form.label :expires_at %>
    <%= form.text_field :expires_at %>
  </div>

  <div class="field">
    <%= form.label :country_name %>
    <%= form.text_field :country_name %>
  </div>

  <div class="field">
    <%= form.label :state_or_province %>
    <%= form.text_field :state_or_province %>
  </div>

  <ul>
    <p>Key Value Evidence</p>
    <%= fields_for :kv_group_evidences, @hero.kv_group_evidence do |kv_grp_o| %>
      <%= kv_grp_o.text_field :name %>
    <% end %>
    <li>
    <%= fields_for :kv_pair_evidence, @hero.kv_pair_evidence do |kv_pair_o| %>
      <%= kv_pair_o.text_field :key %>
      <%= kv_pair_o.text_field :value %>
      <%= kv_pair_o.text_field :url %>
    <% end %>
    </li>
  </ul>

  <ul>
    <p>Plain Text Evidence</p>
    <%= fields_for :plain_text_evidences, @hero.plain_text_evidence do |pt_ev_o| %>
      <li>
        <%= pt_ev_o.text_field :title %>
        <%= pt_ev_o.text_field :description %>
      </li>
    <% end %>
  </ul>

  <ul>
    <p>Url Evidence</p>
    <%= fields_for :url_evidences, @hero.url_evidence do |url_o| %>
      <li>
        <%= url_o.text_field :value %>
        <%= url_o.text_field :name %>
        <%= url_o.text_field :description %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
