<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :vanity_url %>
    <%= form.text_field :vanity_url %>
  </div>

  <div class="field">
    <%= form.label :vanity_slug %>
    <%= form.text_field :vanity_slug %>
  </div>

  <div class="field">
    <%= form.label :verified %>
    <%= form.check_box :verified %>
  </div>

  <div class="field">
    <%= form.label :viewable %>
    <%= form.check_box :viewable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
